## Control de Flujo

In [1]:
import pandas as pd
import numpy as np

#### Desafío 1:
Generar un par de arrays ficticios con numpy.
- tip: utilice la función linspace para generar un array entre 1 y 50, y un array entre 50 y 150

In [2]:
a1 = np.linspace(1, 50, 50, dtype = int)
a1

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50])

In [3]:
a2 = np.linspace(50,150, dtype = int)
a2

array([ 50,  52,  54,  56,  58,  60,  62,  64,  66,  68,  70,  72,  74,
        76,  78,  80,  82,  84,  86,  88,  90,  92,  94,  96,  98, 101,
       103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127,
       129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 150])

In [4]:
len(a1) == len(a2)

True

#### Desafío 2:
Ejecute un loop que devuelva si el número en el primer array es par o impar.
- tip: utilice la función módulo para encontrar si el número es divisible por 2

In [5]:
#np.where(a1 % 2 == 0, "Es par", "Es impar")
#[f"{x} es par" if x % 2 == 0 else f"{x} es impar" for x in a1]
#par = list(filter(lambda x:x %2 ==0, a1))
#impar = list(filter(lambda x:x %2 !=0, a1))

for i in a1:
    if i % 2 == 0:
        print(f"{i} es par")
    else:
        print(f"{i} es impar")

1 es impar
2 es par
3 es impar
4 es par
5 es impar
6 es par
7 es impar
8 es par
9 es impar
10 es par
11 es impar
12 es par
13 es impar
14 es par
15 es impar
16 es par
17 es impar
18 es par
19 es impar
20 es par
21 es impar
22 es par
23 es impar
24 es par
25 es impar
26 es par
27 es impar
28 es par
29 es impar
30 es par
31 es impar
32 es par
33 es impar
34 es par
35 es impar
36 es par
37 es impar
38 es par
39 es impar
40 es par
41 es impar
42 es par
43 es impar
44 es par
45 es impar
46 es par
47 es impar
48 es par
49 es impar
50 es par

#### Desafío 3:
Genere un loop con el segundo array que cuente las siguientes condiciones:
- Si el número es divisible por 2 o 3 
- Si el número es divisible por 2 y 3 
- Si el número es divisible por 3 pero no por 2 
- Si el número no es divisible por 2 ni 3

In [6]:
# Generamos listas vacias 
div_2_o_3 = [] 
div_2_y_3 = []
div_3_no_2 = []
no_div_2_ni_3 = []

for i in a2:
    if i % 2 == 0 or i % 3 == 0:
        div_2_o_3.append(i)
    if i % 2 == 0 and i % 3 == 0:
        div_2_y_3.append(i)
    if i % 3 == 0 and i % 2 != 0:
        div_3_no_2.append(i)
    if i % 2 != 0 and i % 3 != 0:
        no_div_2_ni_3.append(i)

div_2_o_3 = pd.Series(div_2_o_3) 
div_2_y_3 = pd.Series(div_2_y_3)
div_3_no_2 = pd.Series(div_3_no_2)
no_div_2_ni_3 = pd.Series(no_div_2_ni_3) 
print(f"Los números divisibles por dos o tres son:\n{div_2_o_3}")
print(f"Los números divisibles por dos y tres son:\n{div_2_y_3}")
print(f"Los números divisibles por tres y no por dos son:\n{div_3_no_2}")
print(f"Los números no divisibles por dos ni por tres son:\n{no_div_2_ni_3}")

Los números divisibles por dos o tres son:
0      50
1      52
2      54
3      56
4      58
5      60
6      62
7      64
8      66
9      68
10     70
11     72
12     74
13     76
14     78
15     80
16     82
17     84
18     86
19     88
20     90
21     92
22     94
23     96
24     98
25    105
26    111
27    117
28    123
29    129
30    135
31    141
32    147
33    150
dtype: int64
Los números divisibles por dos y tres son:
0     54
1     60
2     66
3     72
4     78
5     84
6     90
7     96
8    150
dtype: int64
Los números divisibles por tres y no por dos son:
0    105
1    111
2    117
3    123
4    129
5    135
6    141
7    147
dtype: int64
Los números no divisibles por dos ni por tres son:
0     101
1     103
2     107
3     109
4     113
5     115
6     119
7     121
8     125
9     127
10    131
11    133
12    137
13    139
14    143
15    145
dtype: int64

#### Desafío 4: 
Correción de errores:
- for i in range(100): 
-     print(I**2)

In [7]:
print("Error: El error se encuentra en la mayúscula de la letra I.")
for i in range(100):
    print(i**2)

Error: El error se encuentra en la mayúscula de la letra I.
0
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
1024
1089
1156
1225
1296
1369
1444
1521
1600
1681
1764
1849
1936
2025
2116
2209
2304
2401
2500
2601
2704
2809
2916
3025
3136
3249
3364
3481
3600
3721
3844
3969
4096
4225
4356
4489
4624
4761
4900
5041
5184
5329
5476
5625
5776
5929
6084
6241
6400
6561
6724
6889
7056
7225
7396
7569
7744
7921
8100
8281
8464
8649
8836
9025
9216
9409
9604
9801

#### Desafío 5:
Utilizando la misma base flights.csv hacer un loop  y clasificar los meses con una cantidad de pasajeros menor a la media

In [8]:
df = pd.read_csv("flights.csv")
df.tail(2)

     year     month  passengers
142  1960  November         390
143  1960  December         432

Para ello, genere un nuevo objeto que represente la media de passengers

In [9]:
media_pasajeros = np.mean(df["passengers"])
media_pasajeros

280.2986111111111

Genere una columna en la base de datos que se llame underperforming y asígnele 0.

Ejecute un loop que recorra cada observación de passengers, donde si la observación es menor a la media de passengers se le asigne a underperforming un 1. 

Para asignar unos en la columna underperforming ya creada, utilice la función DataFrame.at

In [10]:
#df["underperforming"] = np.where(df["passengers"] < media_pasajeros, 1, 0)
df["underperforming"] = 0
for index, row in df.iterrows():
    if row.values[2] < media_pasajeros:
        df["underperforming"].at[index] = 1
df

     year      month  passengers  underperforming
0    1949    January         112                1
1    1949   February         118                1
2    1949      March         132                1
3    1949      April         129                1
4    1949        May         121                1
..    ...        ...         ...              ...
139  1960     August         606                0
140  1960  September         508                0
141  1960    October         461                0
142  1960   November         390                0
143  1960   December         432                0

[144 rows x 4 columns]

#### Desafío 6:
Hacer un loop que clasifique los meses donde la cantidad de pasajeros se escapa de la tendencia.

Para ello, genere dos objetos que guarden la media general y la desviación estandar general de passengers

In [11]:
media_pasajeros

280.2986111111111

In [12]:
desvio = df["passengers"].std()
desvio

119.96631694294321

Genere una nueva columna en la tabla de datos que se llame outlier y asignele 0

In [13]:
df["outlier"] = 0
#df

Ejecute un loop que recorra cada observación de passengers, donde si la observación se escapa de la tendencia sea 1, de lo contrario 0.

Para clasificar los casos que se escapen la tendencia, la observación debe satisfacer una de las siguientes condiciones:
- La observación debe ser menor a la  media menos la desviación estándar.
- La observación debe ser mayor a la media más la desviación estándar.

In [14]:
cota_izq = media_pasajeros - desvio
cota_derecha = media_pasajeros + desvio

In [15]:
# escapan_tend =(df["passengers"] < cota_izq) & (df["passengers"] > cota_derecha)
# df["outliers"] = np.where(escapan_tend, 1, 0)

In [16]:
df["outlier"] = 0
for index, row in df.iterrows():
    if ((row.values[2] < cota_izq)|(row.values[2] > cota_derecha)):
        df["outlier"].at[index] = 1

¿Cuántas observaciones se pueden clasificar como casos extremos?

In [17]:
extremos = df["outlier"].sum()
print(f"{extremos} observaciones se pueden clasificar como casos extremos.")

53 observaciones se pueden clasificar como casos extremos.